/* ---↓-↓-↓-↓-Media Quary For Mobile Responsive Started-↓-↓-↓-↓--- */

@media only screen and (max-width: 688px) {


   /* ---↓-↓-↓-↓-Basic Typography-↓-↓-↓-↓--- */

    .title-h1{
        margin-bottom: 0;
    }


/* ---↓-↓-↓-Header and top section started-↓-↓-↓--- */

    /* ---↓-↓-↓-↓-Header Section-↓-↓-↓-↓--- */

    .header{
        width: 100%;
    }
    .nav-for-pc{
        display: none;
    }
    .nav-for-mobile{
        margin-left: 20px;
        display: block;
        font-size: 35px;
        color: white;
    }
    .login-button{
        margin-right: 20px;
    }


  /* ---↓-↓-↓-↓-Top Section-↓-↓-↓-↓--- */

    .main-section{
        width: 100%;
        flex-direction: column;
        margin-bottom: 0;
    }
    .title-button{
        margin-left: 20px;
        width: 90%;
    }
    .title-button> h1{
        font-size: 40px;
        line-height: 50px;
    }
    .banner{
        width: 90%;
        margin-top: 50px;
    }
/* ---↑-↑-↑-↑-Header and top Section Ended-↑-↑-↑-↑--- */


 /* ---↓-↓-↓-↓-Top Players Section-↓-↓-↓-↓--- */

    .all-players{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        align-items: center;
        margin-bottom: 10px;
    }
    .single-player{
        margin: 0 20px;
        max-height: 800px;
    }
    .single-player img{
        width: 100%;
        height: 60%;
    }



/* ---↓-↓-↓-↓-Hero Section-↓-↓-↓-↓--- */
    
    .heros{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .hero{
        margin-top: 20px;
        width: 90%;
        height: 255px;
        border: 2px solid gray;
        position: relative;
        overflow: hidden;
    }


    /* ---↓-↓-↓-↓-Heighlight & Copa Cup Section Started Here-↓-↓-↓-↓--- */

    /* ---↓-↓-↓-↓-Heighlight section-↓-↓-↓-↓--- */

    .heighlight-section{
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 86px;
    }
    .highlight-hedding-button{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 0 10px;
    }
    .highlight-hedding-button h1{
        font-size: 30px;
    }


 /* ---↓-↓-↓-↓-Copa Cup section-↓-↓-↓-↓--- */

    .all-copa{
        margin-top: 10px;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

/* ---↑-↑-↑-↑-Heighlight & Copa Cup Section Ended Here-↑-↑-↑-↑--- */


/* ---↓-↓-↓-↓-Footer Section-↓-↓-↓-↓--- */

    .footer-section{
        padding: 60px 0;
    }
    .footer-img img{
        width: 80%;
    }
}

/* ---↑-↑-↑-↑-Media Quary For Mobile Responsive Ended-↑-↑-↑-↑--- */



/* ---↓-↓-↓-↓-Media Quary For Tab Responsive Started-↓-↓-↓-↓--- */

@media only screen and (min-width:688px) and (max-width:992px)  {


/* ---↓-↓-↓-↓-Basic Typography-↓-↓-↓-↓--- */

    .title-h1{
        margin-bottom: 0;
    }


    /* ---↓-↓-↓-Header and top section started-↓-↓-↓--- */

    /* ---↓-↓-↓-↓-Header Section-↓-↓-↓-↓--- */

    .header{
        width: 100%;
    }
    .nav-for-pc{
        display: none;
    }
    .nav-for-mobile{
        margin-left: 20px;
        display: block;
        font-size: 35px;
        color: white;
    }
    .login-button{
        margin-right: 20px;
    }


    /* ---↓-↓-↓-↓-Top Section-↓-↓-↓-↓--- */

    .main-section{
        width: 95%;
    }
    .title-button{
        width: 40%;
    }
    .title-button> h1{
        font-size: 50px;
        line-height: 60px;
        color: white;
    }

    /* ---↑-↑-↑-↑-Header and top Section Ended-↑-↑-↑-↑--- */


    /* ---↓-↓-↓-↓-Top Players Section-↓-↓-↓-↓--- */

    .all-players{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        align-items: center;
    }
    .single-player img{
        width: 100%;
        height: 60%;
    }

    /* ---↓-↓-↓-↓-Hero Section-↓-↓-↓-↓--- */

    .heros{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .hero{
        margin-top: 20px;
        width: 90%;
        height: 300px;
    }
    .hero-cover img{
        height: 300px;
    }


    /* ---↓-↓-↓-↓-Heighlight & Copa Cup Section Started Here-↓-↓-↓-↓--- */

    /* ---↓-↓-↓-↓-Heighlight section-↓-↓-↓-↓--- */

    .heighlight-section{
        justify-content: space-between;
        width: 90%;
        margin-bottom: 86px;
    }
    .highlight-hedding-button> h1{
        font-size: 30px;
        line-height: 40px;
    }
    .highlight-hedding-button p{
        margin-top: 8px;
        font-size: 15px;
    }


    /* ---↓-↓-↓-↓-Copa Cup section-↓-↓-↓-↓--- */

    .all-copa{
        margin-top: 10px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    /* ---↑-↑-↑-↑-Heighlight & Copa Cup Section Ended Here-↑-↑-↑-↑--- */

}

/* ---↑-↑-↑-↑-Media Quary For Tab Responsive Ended-↑-↑-↑-↑--- */


/* ----------T H E   E N D   C S S---------- */